html {
	background-color: ButtonFace; /*It is a gray.*/
}

#container {
	min-height: 600px;
	background-color: beige;
	margin: 0 auto;
	width: 80%;
}

.loading {
	background: gray;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

table, table td {
	border: 1px solid black;
}

table td {
	padding: 5px;
}