<div id="reparaciones1" class="reparaciones grafico">
	<h2>Reparaciones1</h2>
	<select class="selector" >
		<option value="-1" default="default" >Todos</option>
		<% _.each(users, function(u) { %>
			<option value="<%= u.id  %>"><%= u.name %></option>
		<% }); %> 
	</select>
	<div class="content">
		
	</div>
</div>
<div id="reparaciones2" class="reparaciones grafico">
	<h2>Reparaciones2</h2>
	<select class="selector" >
		<option value="-1" default="default" >Todos</option>
		<% _.each(users, function(u) { %>
			<option value="<%= u.id  %>"><%= u.name %></option>
		<% }); %> 
	</select>
	<div class="content">
		
	</div>
</div>

<h2>Reparaciones sin asignar</h2>
<table id="repairsNotAssigned">
<% _.each(repairs, function(r) { %>
	<tr>
		<td><%= r.id %></td>
		<td><%= r.nombre %></td>
	</tr>
<% }); %>
</table>